body {
  margin: 0;
  padding: 0;
}
.fontFamily {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*  Navbar   */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  background-color: #2c1d16;
  color: #ffffff;
}
ul {
  display: flex;
  gap: 30px;
}
li {
  list-style-type: none;
  text-transform: uppercase;
}
a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
nav a:hover {
  color: #e4b990;
}
nav a::after {
  content: "";
  height: 2px;
}
nav span {
  color: #e4b990;
}
nav p {
  font-size: 1.5rem;
}
/*  Hero   */
.hero-section {
  text-align: center;
  color: #ffffff;
  padding: 200px 5vw;
  background-image: url(/imgs/coffi.jpg);
}
.hero-animation {
  animation: heroAnimation 1s;
}
.hero-section h1 {
  font-size: 3rem;
  width: 50%;
  margin: auto;
  font-weight: 900;
}
.hero-section p {
  font-size: 1.3rem;
}

.btns {
  margin: 50px;
}
.btn {
  padding: 20px 50px;
  color: #000000;
  margin: 10px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  display: inline-block;
}
.hero-section .btn1 {
  background-color: #ebb484;
}
.hero-section .btn2 {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.hero-section .btn2:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn:hover {
  animation: btnAnimation 2s forwards;
}

/*  Uncompromising Standards   */
.standards-section {
  background-color: #fefadf;
  padding: 10px 5vw 30px 5vw;
}
hr {
  width: 200px;
  height: 2px;
  background-color: #9f7656;
  border: none;
}

.paras {
  column-rule: 2px dotted #ebb484;
  padding: 20px 100px 50px 100px;
  text-align: justify;
  line-height: 30px;
  font-size: 1.1rem;
  columns: 3;
  column-gap: 60px;
}
.paras span {
  margin: 0;
  padding: 0;
}

.mainH1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.standards-section span {
  font-size: 60px;
  font-weight: bold;
  float: left;
  line-height: 0.8;
  margin-right: 8px;
  font-family: "Times New Roman", serif;
  color: #9f7656;
}

/*  Cards   */
.cards-section {
  background-color: #faedcd;
  padding: 10px 5vw 30px 5vw;
}
.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 30px;
}
.cards .card {
  background-color: #ffffff;
  border-radius: 10px;
  width: 20%;
  overflow: hidden;
  box-shadow: 3px 3px 20px #ada6a6;
}
.firstP {
  color: #9f7656;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.cards img {
  width: 100%;
}
.cards .card .card-texts {
  padding: 20px;
}
.card .cost {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-top: 2px solid #e4b990;
  padding-top: 20px;
}
.card a {
  background-color: #c29c78;
  padding: 10px 20px;
  color: #000000;
  font-size: 0.8rem;
  border-radius: 10px;
  font-weight: bold;
}
/*  Bottom   */
.bottom-section {
  background-color: #1d140f;
  padding: 50px;
  text-align: center;
  color: #dcdcdc;
}
.steam {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.steam span {
  width: 5px;
  height: 60px;
  background: linear-gradient(to top, transparent, #e4b990, transparent);
  animation: steamAnimation 3s infinite;
}
.steam span:nth-child(1) {
  animation-delay: 1s;
}
.steam span:nth-child(2) {
  animation-delay: 2s;
}
.steam span:nth-child(3) {
  animation-delay: 3s;
}
.bottom-section i {
  font-size: 80px;
  color: #e4b990;
}
.bottom-section h2 {
  color: #ffffff;
}
.bottom-section p {
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}
/*  Footer   */
.footer-section {
  background-color: #2c1d16;
  padding: 10px 5vw 30px 5vw;
  text-align: center;
}
.footer-section ul {
  display: flex;
  justify-content: center;
}
.footer-section li {
  text-decoration: none;
  color: #ffffff;
}
.footer-section a:hover {
  color: #c29c78;
}
.footer-section p {
  color: #ada6a6;
}

/*  Animation Rules  */
@keyframes heroAnimation {
  0% {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px) scale(1.1);
  }
}
@keyframes btnAnimation {
  0% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(-5px) scale(1.1);
  }
}

@keyframes steamAnimation {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
